# Backend
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/out/

# General
.DS_Store
*.log
helm/*/Chart.lock
helm/*/charts/
backend/.venv/
backend/*.db
